body {
  background: #FBECEA;
  background: -webkit-linear-gradient(#FBECEA, #FBECEA);
  background: linear-gradient(#FBECEA, #FBECEA);
}

.header-color {
  background: #2d2928;
  background: -webkit-linear-gradient(#2d2928, #2d2928);
  background: linear-gradient(#2d2928, #2d2928);
}

.landing-grid {
  background: #FBECEA;
  background: -webkit-linear-gradient(#FBECEA #FBECEA);
  background: linear-gradient(#FBECEA, #FBECEA);
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.foto-img {
  height: 250px;
  padding-top: 5em;
}
.textAboutMe {
  width: 75%;
  margin: auto;
  top: 1em;
  font-family: "Scope One", serif;

  color: #2d2928;
  font-size: 20px;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.social-links a:not(:last-child) {
  margin-right: 30px;
}

/* contact page css */

.contact-body {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 1em;
  margin-top: 2em;
}
.imgContat {
  height: 20em;
  border-radius: 10em;

}
.frontEnd {
  font-family: 'Lato', sans-serif;
}

.tech {
  font-family: 'Lato', sans-serif;
}

.contact-list{
  display: flow-root;
  
}

.contactMail {
  font-size: 1em;
  font-family:  'Playfair Display', serif;

  color: #2d2928;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: auto;
  background: #FBECEA;
  color: #2d2928;
 
}



.contact-grid h1 {
  font-family:  'Playfair Display', serif;
  font-size: 3em;
}
.contact-grid h2 {
  font-family:  'Playfair Display', serif;

  color: #2d2928
}

.contact-grid p {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted #2d2928;
  width: 50%;
  margin: auto;
}

/* .social-icons a:not(:last-child) {
  margin-right: 30px;
} */

.social-icons {
  width: 50px;
  height: 50px;
}

.projects-grid {
  background: #FBECEA; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    #FBECEA,
    #FBECEA
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #FBECEA,
    #FBECEA
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
}

.resume-right-col {
  background: white;
  color: #FBECEA;
  padding: 2em;
}

.resume {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

@media only screen and (max-width: 1366px) and (min-width: 1024px) {
  .landing-grid {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }

  .foto-img {
    height: 15em;
    width: 15em;
    padding-top: 2em;
  }

  .textAboutMe {
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 1em;
    font-size: 2em;
  }

  .frontEnd {
    font-size: 3em;
  }

  .tech {
    font-size: 1.8em;
  }

  .iconLinkdIN,
  .iconGithub {
    height: 4em;
    width: 4em;
    margin-top: 1em;
  }

  .projects-grid {
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
  }
  .project {
    width: 25em;
    height: 25em;
  }

  .contact-body {
    margin: auto;
    width: auto;
    height: auto;
    justify-content: center;
    padding-top: 2em;
    margin-top: 1.5em;
  }

  .imgContat {
    height: 25em;
    border-radius: 20em;
  }

  .contactMail {
    font-size: 2em;
    justify-content: center;
  }

  .iconMail {
    width: 1.5em;
    height: 1.5em;
  }
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
  }

  .contact-grid h2 {
    font-size: 2em;
  }

  .contact-grid p {
    display: block;
    font-size: 2em;
  }

  .social-icons a:not(:last-child) {
    margin-right: 2em;
  }

  .social-icons {
    width: 3em;
    height: 3em;
    justify-content: center;
  }
 .iconSkillsTechnical{
   display: flex;
   margin-top: 1em;
 } 

 
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .landing-grid {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }

  .foto-img {
    height: 15em;
    padding-top: 4em;
  }

  .textAboutMe {
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 1em;
    font-size: 1.5em;
  }

  .frontEnd {
    font-size: 3em;
  }

  .tech {
    font-size: 1.8em;
  }

  .iconLinkdIN,
  .iconGithub {
    height: 4em;
    width: 4em;
    margin-top: 2em;
  }

  .projects-grid {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  .project {
    width: 15em;
    height: 15em;
  }

  .contact-body {
    margin: auto;
    width: auto;
    height: auto;
    justify-content: center;
    padding-top: 2em;
    margin-top: 3em;
  }

  .imgContat {
    height: 18em;
    border-radius: 13em;
  }

  .contactMail {
    font-size: 1.5em;
  }

  .iconMail {
    width: 1.5em;
    height: 1.5em;
  }
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-bottom: 2em;
  }
  .contact-grid h4 {
    margin-top: 7em;
    font-size: 2em;
    font-weight: bolder;
    font-family: "Scope One", serif;
  }
  .contact-grid h2 {
    margin-top: 2em;
    font-size: 3em;
  }

  .contact-grid p {
    display: block;
    font-size: 1.5em;
  }

  .social-icons a:not(:last-child) {
    margin-right: 2em;
  }

  .social-icons {
    width: 3em;
    height: 3em;
    justify-content: center;
  }

  .iconSkillsTechnical{
    display: flex;
    margin-top: 1em;
  } 
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .landing-grid {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }

  .foto-img {
    height: 10em;
    padding-top: 0;
  }

  .textAboutMe {
    height: auto;
    width: auto;
    margin: auto;
    font-size: 1em;
  }

  .frontEnd {
    font-size: 2em;
  }

  .projects-grid {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  .project {
    width: 8em;
    height: 8em;
  }

  .contact-body {
    margin: auto;
    width: auto;
    height: auto;
    justify-content: center;
    padding-top: 2em;
    margin-top: 3em;
  }

  .imgContat {
    height: 15em;
    border-radius: 10em;
  }

  .contactMail {
    font-size: 1em;
  }
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-bottom: 2em;
  }

  .contact-grid h2 {
    font-size: 2em;
  }

  .contact-grid p {
    display: none;
  }

  .social-icons a:not(:last-child) {
    margin-right: 2em;
  }

  .social-icons {
    width: 2em;
    height: 2em;
    justify-content: center;
  }

  .skillsTechnical{
    width: 100px;
    height: 100px;
    margin: auto;
   }
   .iconSkillsTechnical{
    display: flex;
    margin-top: 1em;
  } 
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .landing-grid {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }

  .foto-img {
    height: 150px;
    padding-top: 0;
  }

  .textAboutMe {
    height: auto;
    width: auto;
    margin: auto;
    font-size: 1em;
  }

  .frontEnd {
    font-size: 2em;
  }

  .projects-grid {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  .project {
    width: 8em;
    height: 8em;
  }

  .contact-body {
    margin: auto;
    width: auto;
    height: auto;
    justify-content: center;
    padding-top: 2em;
    margin-top: 2em;
  }

  .imgContat {
    height: 15em;
    border-radius: 10em;
  }

  .contactMail {
    font-size: 1em;
  }
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-bottom: 2em;
  }

  .contact-grid h2 {
    font-size: 2em;
  }

  .contact-grid h4 {
    font-size: 2em;
    padding-top: 1em;
    
  }
  .contact-grid p {
    display: none;
  }

  .social-icons a:not(:last-child) {
    margin-right: 2em;
  }

  .social-icons {
    width: 2em;
    height: 2em;
    justify-content: center;
  }

  .iconSkillsTechnical{
    display: flex;
    margin-top: 1em;
  } 
}

@media only screen and (max-width: 320px) {
  .landing-grid {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }

  .foto-img {
    height: 100px;
    padding-top: 0;
  }

  .textAboutMe {
    height: auto;
    width: auto;
    margin: auto;
    font-size: 1em;
  }

  .frontEnd {
    font-size: 1em;
  }

  .projects-grid {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  .project {
    width: 4em;
  }
  .iconSkillsTechnical{
    display: flex;
    margin-top: 1em;
  } 
}
